body {
    background-image: linear-gradient(to bottom, #ffffff, #f0f0f0);
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease;
}

.selezionaLocalitaDiv {
    padding: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background-image: linear-gradient(to bottom right, #f8f9fa, #e9ecef);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    transition: max-width 0.5s ease;
}

.IntestazioneAPLive {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.errorLabel {
    color: #dc3545;
    margin-bottom: 10px;
    transition: color 0.5s ease;
}

.formclass label,
.formclass input,
.formclass select {
    width: 100%;
    margin-bottom: 10px;
    transition: width 0.5s ease, margin-bottom 0.5s ease;
}

.formclass input[type="radio"] {
    margin-right: 10px;
}

.formclass .ricercaRadio {
    display: flex;
    align-items: center;
}

.searchText {
    margin-bottom: 10px;
}

#btnSearch {
    width: 100%;
    transition: width 0.5s ease;
}

.VaiMonitor button[type="submit"] {
    width: 100%;
    transition: width 0.5s ease;
}

@media (max-width: 576px) {
    .container {
        padding: 0 15px;
    }
}

.formclass input[type="radio"] {
    margin-right: 0.5rem;
    width: auto;
    margin-bottom: 20px; /* Adjust this value as needed */

}

.formclass .checkLabel {
    margin-bottom: 0;
    margin-right: 1rem;
    display: inline-block;
    width: auto;
}

#call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
}

#call-to-action .container {
    text-align: center;
}

.IntestazioneAPLive {
    display: flex;
    justify-content: center;
    align-items: center;
}

.IntestazioneAPLive .text-muted {
    color: #6c757d;
}

.IntestazioneAPLive .text-warning {
    color: #ffc107;
}

#call-to-action {
    margin-top: 20px; /* Adjust this value as needed */
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background-image: linear-gradient(to bottom right, #f8f9fa, #e9ecef);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;

}
.image-container img {
    width: 100px; /* Modifica questo valore per cambiare la larghezza dell'immagine */
    height: auto; /* Questo mantiene le proporzioni dell'immagine */
    align-items: center;
    justify-content: center;
    border-radius: 15px; /* Aggiungi questa linea per smussare i bordi dell'immagine */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}